* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}
.input-container {
  display: inline-grid;
  grid-template-columns: auto 60px;
  margin: 0;
  height: 60px;
  margin: 1rem 0;
  width: 100%;
}
.input-container:hover [disabled] {
  border-color: #ddd;
}
.input-container:hover input {
  border-color: #111;
}
.input-container:hover input ~ button {
  border-color: #111;
}
.input-container:hover input ~ button .search__glass {
  border-color: #111;
}
.input-container:hover input ~ button .search__glass:after {
  background: #111;
}
input {
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 24px;
  font-size: 18px;
  border: 2px solid #aaa;
  border-radius: 10px 0 0 10px;
  outline: transparent;
  -webkit-transition: border-color 0.25s ease, color 0.25s ease;
  transition: border-color 0.25s ease, color 0.25s ease;
}
input::-webkit-input-placeholder {
  color: #aaa;
}
input::-moz-placeholder {
  color: #aaa;
}
input:-ms-input-placeholder {
  color: #aaa;
}
input::-ms-input-placeholder {
  color: #aaa;
}
input::placeholder {
  color: #aaa;
}
input:hover,
input:active,
input:focus {
  border-color: #111;
}
input:hover ~ button,
input:active ~ button,
input:focus ~ button {
  border-color: #111;
}
input:hover ~ button .search__glass,
input:active ~ button .search__glass,
input:focus ~ button .search__glass {
  border-color: #111;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}
input:hover ~ button .search__glass:after,
input:active ~ button .search__glass:after,
input:focus ~ button .search__glass:after {
  background: #111;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
}
input[disabled],
input:hover[disabled] {
  border-color: #ddd;
  color: #ddd;
}
input[disabled] ~ button,
input:hover[disabled] ~ button {
  border-color: #ddd;
}
input[disabled] ~ button .search__glass,
input:hover[disabled] ~ button .search__glass {
  border-color: transparent;
}
.input-container__button {
  cursor: pointer;
  width: 60px;
  outline: transparent;
  border-radius: 0 10px 10px 0;
  position: relative;
  border: 2px solid #aaa;
  border-left-width: 0;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
  background: transparent;
}
.input-container__button:hover[disabled] .search__glass {
  border-color: transparent;
}
.input-container__button[disabled] .search__prongs {
  opacity: 1;
  -webkit-transition: opacity 0.25s 0.25s ease;
  transition: opacity 0.25s 0.25s ease;
}
.input-container__button[disabled] .search__glass {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  border-color: transparent;
  -webkit-transition: border-color 0.25s ease, -webkit-transform 0.25s ease;
  transition: border-color 0.25s ease, -webkit-transform 0.25s ease;
  transition: border-color 0.25s ease, transform 0.25s ease;
  transition: border-color 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;
}
.input-container__button[disabled] .search__glass:after {
  background: transparent;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.25s ease;
  transition: background 0.25s ease, -webkit-transform 0.25s ease;
  transition: background 0.25s ease, transform 0.25s ease;
  transition: background 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;
  -webkit-transform: translate(-50%, 0) rotate(-45deg) translate(0, 100%)
    scaleY(0);
  transform: translate(-50%, 0) rotate(-45deg) translate(0, 100%) scaleY(0);
}
.search {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.search__glass {
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #aaa;
  -webkit-transition: border-color 0.25s ease, -webkit-transform 0.25s ease;
  transition: border-color 0.25s ease, -webkit-transform 0.25s ease;
  transition: border-color 0.25s ease, transform 0.25s ease;
  transition: border-color 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;
  -webkit-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
}
.search__glass:after {
  content: '';
  position: absolute;
  height: 12px;
  top: 50%;
  left: 50%;
  background: #aaa;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.25s ease;
  transition: background 0.25s ease, -webkit-transform 0.25s ease;
  transition: background 0.25s ease, transform 0.25s ease;
  transition: background 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;
  width: 4px;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: translate(-50%, 0) rotate(-45deg) translate(0, 95%)
    scaleY(1);
  transform: translate(-50%, 0) rotate(-45deg) translate(0, 95%) scaleY(1);
  border-radius: 0 0 2px 2px;
}
.search__prongs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.search__prongs > div:nth-of-type(1) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(36deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(36deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(2) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(72deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(72deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(3) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(108deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(108deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(4) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(144deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(144deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(5) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(180deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(6) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(216deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(216deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(7) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(252deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(252deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(8) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(288deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(288deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(9) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(324deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(324deg) translate(0, 10px);
}
.search__prongs > div:nth-of-type(10) {
  height: 2px;
  width: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(360deg) translate(0, 10px);
  transform: translate(-50%, -50%) rotate(360deg) translate(0, 10px);
}
#app {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
}
.colors {
  min-height: 250px;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 4px;
  -webkit-transition: opacity 0.25s ease, -webkit-filter 0.25s ease;
  transition: opacity 0.25s ease, -webkit-filter 0.25s ease;
  transition: opacity 0.25s ease, filter 0.25s ease;
  transition: opacity 0.25s ease, filter 0.25s ease, -webkit-filter 0.25s ease;
  position: relative;
}
.colors:empty {
  min-height: 0;
}
.colors--searching {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.color {
  background-color: var(--color);
  position: relative;
  height: 100px;
  width: 100px;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
  border-radius: 10px;
}
.color:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.color__close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 44px;
  border: 0;
  background: transparent;
  width: 44px;
}
.color__close svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}
.color__close svg path {
  fill: #fff;
}
.color--selected {
  border-radius: 10px;
  position: absolute;
  color: #fff;
  overflow: hidden;
  background: var(--color);
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  align-items: flex-end;
  padding: 1rem;
  z-index: -1;
  -webkit-clip-path: inset(
    calc(var(--t) * 1px) calc(var(--r) * 1px) calc(var(--b) * 1px)
      calc(var(--l) * 1px)
  );
  clip-path: inset(
    calc(var(--t) * 1px) calc(var(--r) * 1px) calc(var(--b) * 1px)
      calc(var(--l) * 1px)
  );
}
.color--selected a,
.color--selected button {
  color: #fff;
}
.color--selected-dark {
  color: #111;
}
.color--selected-dark a,
.color--selected-dark button {
  color: #111;
}
.color--selected-dark svg path {
  fill: #111;
}
.img,
img {
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-animation: fadeIn 0.25s ease;
  animation: fadeIn 0.25s ease;
  z-index: -1;
}
.img {
  opacity: 0;
}
.info {
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem;
  text-align: right;
  font-size: 16px;
  font-family: sans-serif;
  background: rgba(var(--red), var(--green), var(--blue), var(--alpha, 0));
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
  border: 0;
  font-weight: bold;
  display: inline-block;
}
.info:hover {
  --alpha: 1;
}
.info:hover ~ .img {
  --alpha: 0;
}
.img:after {
  content: '';
  background: rgba(var(--red), var(--green), var(--blue), var(--alpha, 0.75));
  position: absolute;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.input-invisible {
  position: fixed;
  top: 0;
  left: 100%;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
