html {
  box-sizing: border-box;
  background: url(https://source.unsplash.com/VLPLo-GtrIE/300x300) no-repeat
    center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

svg {
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  margin-bottom: 50px;
  border-radius: 50%;
}
.wrapper {
  width: 350px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
  margin: 0;
  text-align: center;
  color: #fff;
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.plates li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
  color: #fff;
}

.plates label {
  flex: 1;
  cursor: pointer;
}

.plates input {
  display: none;
}

.plates input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.plates input:checked + label:before {
  content: '🌮';
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
